.activeDir {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 3px;
}

.dir {
    display: inline;
    margin: 0px 5px;
}

.showPwd {
    color: rgb(182, 182, 182);
}

.dir:last-child {
    font-size: 20px;
    color: rgb(116, 116, 116);
}

.textField {
    float: left;
}

.closeButton {
    margin: 0px 10px;
    float: left;
}

.submitButton {
    margin: 0px 10px;
    float: left;
}

.circle {
    border-radius: 50%;
}

.inputArea {
    margin: 10px 10px;
}

ul {
    border: 1px solid#edecec;
    font-size: 18px;
}

li {
    list-style-type: none;
}
